@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import "tailwindcss";

.luckiest-guy-regular {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}

.saira-extra-condensed {
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@layer base {
  html {
    font-family: var(--font-roboto), system-ui, -apple-system, sans-serif;
  }
  
  body {
    font-family: var(--font-roboto), system-ui, -apple-system, sans-serif;
  }
  
  * {
    font-family: inherit;
  }
}